:root {
  --color-lite-purple: #5740e3;
  --color-lite-orange: #ff8c6a;
  --color-lite-blue: #48bfe2;
  --color-lite-pink: #ff617d;
  --color-lite-green: #38ce87;
  --color-lite-magenta: #7331ca;
  --color-lite-yellow: #f3c868;
  --color-lite-primary: #22244a;
  --color-bg: #141a27;
  --border-radius: 1rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
html {
  font-size: 100%;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-bg);
}
.light-orange {
  background-color: var(--color-lite-orange);
}
.light-blue {
  background-color: var(--color-lite-blue);
}
.light-pink {
  background-color: var(--color-lite-pink);
}
.light-green {
  background-color: var(--color-lite-green);
}
.light-magenta {
  background-color: var(--color-lite-magenta);
}
.light-yellow {
  background-color: var(--color-lite-yellow);
}

#root {
  width: 80%;
  height: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.col-span-2 {
  width: 100%;
  height: 100%;
}
.col-span-2 .row {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile-card {
  height: 96%;
  margin: 2%;
  background-color: var(--color-lite-primary);
  border-radius: var(--border-radius);
}
.activity-card {
  height: 90%;
  margin: 2%;
  border-radius: var(--border-radius);
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;

  position: relative;
}

.activity-card .icon {
  position: absolute;
  right: 0;
  top: 0;
  width: 30%;
}

.activity-card-body {
  position: absolute;
  bottom: 0;
  height: 85%;
  width: 100%;
  background-color: var(--color-lite-primary);
  border-radius: var(--border-radius);
  color: white;
}

.activity-card-body .row {
  display: row;
  height: auto;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.2rem 0.8rem;
  font-weight: 700;
  font-family: monospace;
}
.activity-card-body h4 {
  font-size: 2.6rem;
  font-weight: 400;
  font-family: system-ui;
  padding: 0.8rem;
}
.last-duration {
  padding: 0 0.8rem;
  color: gray;
}

.profile-card-header {
  height: 70%;
  padding: 1rem 0rem 4rem 0rem;
  background-color: var(--color-lite-purple);
  color: white;
  border-radius: var(--border-radius);
  padding-bottom: 8rem;
}
.profile-card-header .mini {
  color: var(--light-gray);
  font-size: 1.2rem;
  padding: 0.8rem;
}
.profile-card-header .username {
  font-size: 2.2rem;
  padding: 0.8rem;
}
.profile-card-image {
  width: 100%;
  margin: 0.5rem;
  padding: 2px;
}
.profile-card-image img {
  padding: 2px;
  border-radius: 50%;
  background-color: white;
  width: 40%;
}
.profile-card-body {
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 1rem;
  color: gray;
}
/* MOBILE VIEW */
@media only screen and (max-width: 475px) {
  html {
    font-size: 70%;
  }
  #root {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
  }
  .profile-card {
    height: auto;
    background-color: var(--color-lite-primary);
    border-radius: var(--border-radius);
  }
  .profile-card-header {
    display: flex;

    justify-content: center;
    align-items: center;
    height: auto;
    padding: 1rem 0rem 2rem 0rem;
    background-color: var(--color-lite-purple);
    color: white;
    border-radius: var(--border-radius);
    padding-bottom: 1rem;
  }
  .profile-card-header .col {
    color: var(--light-gray);
    padding: 1rem;
  }
  .profile-card-header .mini {
    color: rgb(201, 201, 201);
    font-size: 1.2rem;
    padding: 0;
  }

  .profile-card-image {
    display: inline-block;
    width: 20%;
  }
  .profile-card-image img {
    padding: 2px;
    border-radius: 50%;
    background-color: white;
    width: 100%;
  }
  .profile-card-header .username {
    font-size: 2.2rem;
    padding: 0;
    margin-top: 0.4rem;
  }
  .profile-card-body {
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1.2rem;
    font-size: 1.2rem;
    color: gray;
  }
  .activity-card {
    height: 140px;
    margin: 2%;
    border-radius: var(--border-radius);
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;

    position: relative;
  }
  .activity-card .icon {
    position: absolute;
    right: 0;
    top: 0;
    width: 20%;
  }
  .activity-card-body {
    position: absolute;
    bottom: 0;
    height: 80%;
    width: 100%;
    background-color: var(--color-lite-primary);
    border-radius: var(--border-radius);
    color: white;
    padding-bottom: 0px;
  }
  .activity-card-body .row {
    display: row;
    height: auto;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.2rem 1rem;
    font-weight: 700;
    font-family: monospace;
    font-size: 1.2rem;
  }
  .period {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .activity-card-body h4 {
    font-size: 2.6rem;
    font-weight: 400;
    font-family: system-ui;
    padding: 0.8rem;
  }
  .last-duration {
    padding: 0 0.8rem;
    color: rgb(210, 210, 210);
  }

  /*

  */
}
